<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="update_user_form" class="update_user_container">
  <h1 style="margin-top: 0px;">회원정보 수정</h1>
  <form class="update_form" th:action="@{/user}" method="post">
    <input type="hidden" name="_method" value="put" />
    <div class="update_form_content">
      <div class="input_id">
        <label for="id">ID</label>
        <br>
        <input type="number" class="id" id="id" name="id" placeholder="ID를 입력하세요.">
      </div>

      <div class="input_name">
        <label for="name">이름 변경</label>
        <br>
        <input type="text" class="name" id="name" name="name" placeholder="변경하고 싶은 이름을 입력하세요.">
      </div>
    </div>

    <button type="submit">수정하기</button>
  </form>
</div>
</body>
</html>